<a href="https://colab.research.google.com/github/SanguinePoppy/FrontendDevlopmentPractice/blob/master/Spam_Classification_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import spacy

# Demo - Understanding data set

In [ ]:
nlp = spacy.load('en_core_web_sm')

In [ ]:
data = pd.read_csv('spam.csv',encoding='cp1252')

In [ ]:
data.head()

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...

In [ ]:
data = data[['v1','v2']]

In [ ]:
data['v1'] = data['v1'].apply(lambda x:0 if x=='ham' else 1)

In [ ]:
data

# Demo 2 - Text Pre-Processing

In [ ]:
def process(x):
    temp = []
    document = nlp(x.lower())
    print(document)
    for i in document:
        if i.is_stop!=True and i.is_punct!= True:
            print(i)
            temp.append(i.lemma_)
            print(temp)
        else:
            pass
        
    return (' '.join(temp))

In [ ]:
data['v2'] = data['v2'].apply(lambda x: process(x))

In [ ]:
data.head()

     v1                                                 v2
0   ham  jurong point crazy available bugis n great wor...
1   ham                              ok lar joke wif u oni
2  spam  free entry 2 wkly comp win fa cup final tkts 2...
3   ham                                u dun early hor u c
4   ham                              nah think go usf live

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
vectorizer = TfidfVectorizer(analyzer='word',stop_words='english')

In [ ]:
text_vector = vectorizer.fit_transform(data['v2'].values.tolist())

In [ ]:
print(text_vector)

# Demo 3 - Splitting Data set

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(text_vector.toarray(),data['v1'],test_size=0.2,random_state=20)

In [ ]:
len(x_test)

# Demo 4 - Model Building

In [ ]:
from sklearn.naive_bayes import BernoulliNB

In [ ]:
modelB = BernoulliNB()
modelB.fit(x_train,y_train)
print(modelB.score(x_train,y_train))

In [ ]:
y_predictedB = modelB.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_test,y_predictedB))

0.9829596412556054

## Best model is BernoulliNB with  98% Accuracy

In [ ]:
Code - https://drive.google.com/drive/folders/1CCKDoNOmkZRqDbaZdO_kJcE0xBq6T2CR?usp=sharing
Career Roadmap - https://www.techlearn.live/course/data-science-career-roadmap
Feedback Link: https://www.techlearn.live/feedback?scheduleId=61570c7afc6d0a75673e09b3